.icon {
    font-size: 1.4em;
  }
  a.badge {
    text-decoration: none;
  }
  .btnwrap {
    text-align: right;
  }
  .titlewrap {
    margin-top: 2.8em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
  }


/* 학습테이블 */
.table1{
  display:none ;
}

/* 퀴즈테이블 */
.table2{
  display:none ;
}

.classSpinner {
  display: none;
}

.quizSpinner {
  display: none;
}